
{% load i18n %}
{% load l10n %}
{% load account %}
{% load funtag %}
{% load tz %}

<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row align-items-center">

            <div class="col col-auto">
                &copy; {% now "Y" %} 
                {# a bug >> site name coudn`t get here #}
                - <a href="/"> 
                    {% blocktrans %}
                        x-dove
                    {% endblocktrans %} 
                </a>
            </div>
            <div class="col col-auto">
                <a href="#">{% trans 'Privacy' %}</a>
            </div>
            <div class="col col-auto float-right">
                {% include 'funhome/_footer_language.html' %}
            </div>
            <div class="col col-auto float-right">
                {% include 'funhome/_footer_theme.html' %}
            </div>
        </div>

    </div>
</footer>