{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}
{% load tz %}


{% block title %}
    {% trans 'Sticker list'  %}
{% endblock title %}

{% block content %} 

    <h5 class="text-center font-weight-bold">{% trans 'Sticker list' %}</h5>
    <hr/>
    <div class="row">

        {% for homesticker in homestickers %}

            <div class="col  col-sm-6 col-md-4 col-lg-3 col-xl-3 col-12 mt-2">
                <div class="card bg-transparent text-white click-to-url homesticker-list-card" data-url="{% url 'homesticker_detail' pk=homesticker.id %}">
                    <img src="{% url 'funfile:get_file' file_id=homesticker.cover.name %}" class="card-img" alt="cover">
                    <div class="card-img-overlay">
                        <div class="homesticker-list-card-text">

                            <p class="card-title text-center">{{ homesticker.title }}</p>
                            <p class="card-subtitle text-center d-none d-md-block">{{ homesticker.subtitle }}</p>
                            <p class="card-text text-right">{{ homesticker.promulgating_date|localtime }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


    </div>

    {% if page_obj %}
        <div class="pagination justify-content-center  align-items-center mt-5" style="font-size: large;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-primary">&laquo; {% trans 'first page' %}</a>
                    <a href="?page={{ page_obj.previous_page_number }}"  class="btn btn-primary">{% trans 'previous page' %}</a>
                {% endif %}

                <span class="current">
                    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }} {% trans 'Page' %} 
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"  class="btn btn-primary">{% trans 'next page' %}</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"  class="btn btn-primary">{% trans 'last page' %} &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}

{% endblock %}
