
html 
{
  position: relative;
  min-height: 100%;
}

/* body and footer css is partially referenced from microsoft docs */
body 
{
  /* Margin bottom by footer height */
  padding-bottom: 88px; 
} 

.body-content
{
  margin-top: 10px;
}

.homeCarousel
{
  box-shadow:5px 4px 16px  #f03de170;
  border-radius: 10px;
}

.homeCarousel *
{
  color: rgba(255, 78, 240, 0.705);
}

.footer 
{
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 66px;
}

.carousel-control-next,.carousel-control-prev
{
  background-color: rgba(229, 92, 247, 0.082);
  border-radius: 10px;
}

.fun_test
{
  height: fit-content;
}

img.preview
{
  width: 100%;
}

.card:hover
{
  z-index: 99;
  border: solid #e281ff81;
  animation: common_hover_animation 0.2s 1 forwards;
}

 .home-carousel-inner
 {
   border-radius: 6px;
 }

 .homesticker-card
 {
   cursor: pointer;
 }

 .homesticker-carousel-caption
 {
  background-color: rgba(113, 25, 255, 0.37);
  border-radius: 5px;
  cursor: pointer;
  animation: homesticker_carousel_caption 5s  infinite alternate;
 }

 .homesticker-carousel-caption *
 {
   color: rgb(255, 60, 190);
 }
  
 .homesticker-list-card-text
 {
   background-color: #e95afc9f;
   border-radius: 6px;
   padding: 2px;
   font-size: small;
}

.carousel-item-img
{
  animation: carousel_item_img_animation 5s infinite alternate;
}

.eduhub-label-card
{
  line-height: 5px;
}

.eduhub-content-card
{
  line-height:12px;
}

.custom-control-label
{
  cursor: pointer;
}