
html 
{
  position: relative;
  min-height: 100%;
}

/* body and footer css is partially referenced from microsoft docs */
body 
{
  /* Margin bottom by footer height */
  padding-bottom: 68px; 
} 

.body-content
{
  margin-top: 10px;
}

.homeCarousel
{
  box-shadow:5px 4px 16px  #f03de170;
  border-radius: 10px;
}

.homeCarousel *
{
  color: rgba(255, 78, 240, 0.705);
}

.footer 
{
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  height: 66px;
}

.carousel-control-next,.carousel-control-prev
{
  background-color: rgba(229, 92, 247, 0.082);
  border-radius: 10px;
}

.fun_test
{
  height: fit-content;
}

img.preview
{
  width: 100%;
}

.card:hover
{
  z-index: 99;
  border: solid #e281ff81;
  animation: common_hover_animation 0.2s 1 forwards;
}

 