
@keyframes common_hover_animation
{
  0%{
      transform: scale(1);
  }

  100%{
      transform: scale(1.15);
  }
}

@keyframes carousel_item_img_animation
{

  0%{
    transform: scale(1);
  }

  100%{
      transform: scale(1.05);
  }
}

@keyframes homesticker_carousel_caption
{

  0%{
    background-color: rgba(222, 101, 247, 0.541);
  }

  100%{
    background-color: rgba(167, 17, 226, 0.418);
  }
}