

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}
{% load tz %}

{% load funtag %}


<div class="collapse" id="top_filter_collapse">
    <div class="card card-body">
        <h5 class="first_fliter preschool">{% trans 'Preschool' %}</h5>
        <hr/>
        <p>
            <button type="button" data-first_filter="preschool" 
                class="btn btn-link second_filter">
                {% trans 'Math' %}
            </button>
            <button type="button"  data-first_filter="preschool" 
                class="btn btn-link second_filter">
                {% trans 'Yuwen' %}
            </button>
            <button type="button"  data-first_filter="preschool" 
                class="btn btn-link second_filter">
                {% trans 'Yingyu' %}
            </button>
            <button type="button"  data-first_filter="preschool" 
                class="btn btn-link second_filter">
                {% trans 'Science' %}
            </button>
    
        </p>

        <h5 class="first_fliter primary_school">{% trans 'Primary school' %}</h5>
        <hr/>

        <p>
            <button type="button"  data-first_filter="primary_school"
                class="btn btn-link second_filter">
                {% trans 'Math' %}
            </button>
            <button type="button"   data-first_filter="primary_school"
                class="btn btn-link second_filter">
                {% trans 'Yuwen' %}
            </button>
            <button type="button"   data-first_filter="primary_school"
                class="btn btn-link second_filter">
                {% trans 'Yingyu' %}
            </button>
            <button type="button"   data-first_filter="primary_school"
                class="btn btn-link second_filter">
                {% trans 'Science' %}
            </button>
            <button type="button" 
                data-first_filter="primary_school"
                class="btn btn-link second_filter">
                {% trans 'Morality and Society' %}
            </button>
            <button type="button" 
                data-first_filter="primary_school"
                class="btn btn-link second_filter">
                {% trans 'Information Technology' %}
            </button>
            <button type="button" 
                data-first_filter="primary_school"
                class="btn btn-link second_filter">
                {% trans 'Art' %}
            </button>
    
        </p>

        <h5 class="first_fliter junior_high_school">{% trans 'Junior high school' %}</h5>
        <hr/>
        <p>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Math' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Yuwen' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Yingyu' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Geography' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Physics' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Biology' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Politics' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Information Technology' %}
            </button>
            <button type="button"   data-first_filter="junior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Art' %}
            </button>
    
        </p>

        <h5 class="first_fliter senior_high_school">{% trans 'Senior high school' %}</h5>
        <hr/>
        <p>
            <button type="button"   data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Math' %}
            </button>
            <button type="button" data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Yuwen' %}
            </button>
            <button type="button"  data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Yingyu' %}
            </button>
            <button type="button"  data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Geography' %}
            </button>
            <button type="button" data-first_filter="senior_high_school" 
                class="btn btn-link second_filter">
                {% trans 'Physics' %}
            </button>
            <button type="button"  data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Biology' %}
            </button>
            <button type="button"  data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Politics' %}
            </button>
            <button type="button" data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Information Technology' %}
            </button>
            <button type="button" data-first_filter="senior_high_school"
                class="btn btn-link second_filter">
                {% trans 'Art' %}
            </button>
    
        </p>

        <h5 class="first_fliter collage">{% trans 'College' %}</h5>
        <hr/>
        <p>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Philosophy' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Economics' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Law' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Pedagogy' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Jurisprudence' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Literature' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'History' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Sciences' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Engineering' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Agriculture' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Medicine' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Military ' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Management' %}
            </button>
            <button type="button"  data-first_filter="collage"
                class="btn btn-link second_filter">
                {% trans 'Art' %}
            </button>
            
        </p>
        
        <h5 style="cursor: pointer;" class="text-primary first_fliter_all">
            {% trans 'All' %}
        </h5>    

    </div>
</div>
