{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}
{% load l10n %}

{% block content %} 
    <h2 class="text-center">{% trans 'Eduhub contents' %}</h2>
    <a href="{% url 'eduhub:content_create' label=label %}" class="btn btn-sm btn-outline-info float-right">{% trans 'Add' %}</a>
    <hr/>
    <div class="row">
            {% for content in contents %} 

                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-2">
                    <div class="card eduhub-content-card" style="max-width: 100%;" data-url="{% url 'eduhub:content_detail' pk=content.id %}">
                        <div class="card-body">
                        <p class="card-title small">{{ content.title }}</p>
                        <p class="card-text small d-none d-md-block">{{ content.comment }}</p>

                        <a href="{% url 'eduhub:content_detail' pk=content.id %}" class="card-link small">{% trans 'View' %}</a>

                        {% if content.label.author == request.user %}    
                            <a href="{% url 'eduhub:content_update'  pk=content.id %}" class="card-link small">{% trans 'Edit' %}</a>
                            <a href="{% url 'eduhub:content_delete'  pk=content.id %}" class="card-link small">{% trans 'Delete' %}</a>
                        {% endif %}
                        <p class="text-right border-left" style="font-size: xx-small;">{{ content.uploading_date }}</p>

                        </div>
                    </div>
                </div>

            {% endfor %}
    
    </div>
    
    
    {% if is_paginated %}
        <nav aria-label="Page navigation ">
            <ul class="pagination  justify-content-end">
                {% if page_obj.has_previous %}
                    {% if page_obj.number >= max_left_item_count|add:max_left_item_count %}
                        <li  class="page-item"><a class="page-link" href="?page=1">&laquo;&laquo;</a></li>
                    {% endif %}
                    <li  class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span  class="page-link" >{{ i }} <span  class="sr-only page-link">(current)</span></span>
                        </li>
                    {%  elif  page_obj.number|add:max_left_item_count >= i and  i|add:max_left_item_count  >= page_obj.number  %}
                        <li  class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li  class=" page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% if  page_obj.paginator.num_pages >  page_obj.number|add:max_left_item_count  %}
                        <li  class=" page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a></li>
                    {% endif %}
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">|</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                </li>

            </ul>
        </nav>
    {% endif %} 


{% endblock %}
