{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}

{% load tz %}


{% block title %}
    {% trans 'Delete label'  %}
{% endblock title %}

{% block content %} 

    <h6 class="text-center">{{ content.title }}</h6>
    <hr/> 

    {% if  is_video %}
        <video class="eduhub-content-video"  src="{% url 'funfile:get_file' file_id=content.content_file.name %}" width="100%" controls></video>
    {% else %}
        <object data="{% static '/libs/pdfjs-2.2.228-dist/web/viewer.min.html' %}?file={% url 'funfile:get_file' file_id=content.content_file.name %}" width="100%" height="567rem"></object>
    {% endif  %}
    
    <hr/>

    <p class="text-right " ><a href="{% url 'funuser:funuser_detail' user=content.label.author.id %}">{{ content.label.author }}</a> </p> 
    <p class="text-right small">{{ content.uploading_date }}</p>
    <hr/>
    <p class="small">
        {{ content.comment }}
    </p> 
    {% include 'funhome/_ckeditor.html' %}

 

{% endblock %}
