{% extends 'eduhub/_eduhub_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}

{% load tz %}


{% block title %}
    {% trans 'Delete label'  %}
{% endblock title %}


{% block content %} 
    <form method="post">
        {% csrf_token %}
        <p>
            {% trans 'Are you sure you want to delete' %} 
            "{{ content.title }}"?
        </p>
        <input class="btn btn-danger" type="submit" 
            value="{% trans 'Delete' %}">
    </form>

    <h1 class="text-center">{{ content.title }}</h1>
    <hr/>
    
    {% if  is_video %}
        <video class="eduhub-content-video"  
            src="{% url 'funfile:get_file' file_id=content.content_file.name %}" 
            width="100%" controls>
        </video>

    {% else %}
        <object data="{% get_pdf_view_url %}{{ content.content_file.name }}" 
            width="100%" height="678rem">
        </object>
    {% endif  %}
    
    <hr/>
    <h6 class="text-right">{{ content.label.author }}</h6>
    <h6 class="text-right">{{ content.uploading_date }}</h6>
    <hr/>
    <p>
        {{ content.comment }}
    </p>

    {% include 'funhome/_ckeditor.html' %}

{% endblock %}
