{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}
{% load tz %}


{% block title %}Home{% endblock title %}

{% block content %} 

    <div class="row">
        {% comment %}
            <div class="col col-sm-7 col-md-7 col-lg-6 text-center ">
                <p>{% trans 'Preview' %}</p>            
                <object class="preview" preview-for='#id_content_file' type="application/pdf" width="100%" height="567px"></object>
                <video  preview-for='#id_content_file' width="100%" height="auto" controls style="display: none;" ></video>
            </div>
        {% endcomment %}
        <div class="col  col-12">
            <form method="post"  enctype="multipart/form-data">
        
                {% csrf_token %}
                
                {{ form.media }}
                
                {{ form|crispy }}
        
                <div class="col col-12 text-center" >
                    <input class="btn btn-outline-info " type="submit" value="{% trans 'Upload' %}" />
                </div>
        
            </form>    
        </div>
        
    </div>

    {% include 'eduhub/_pdf.js.html' %}

    {% include 'funhome/_ckeditor.html' %}


{% endblock %}
