{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}
{% load l10n %}
{% load tz %}


{% block content %} 
    <h2 class="text-center">{% trans 'Eduhub contents' %}</h2>
    <a href="{% url 'eduhub:content_create' label=label %}" class="btn btn-sm btn-outline-info float-right">{% trans 'Add' %}</a>
    <hr/>
    <div class="row">
            {% for content in contents %} 

                <div class="col col-6 col-sm-4 col-md-4 col-lg-4 col-xl-2 mt-2">
                    <div class="card eduhub-content-card click-to-url" style="max-width: 100%;" data-url="{% url 'eduhub:content_detail' pk=content.id %}">
                        <div class="card-body">
                        <p class="card-title small">{{ content.title }}</p>
                        <p class="card-text small d-none d-md-block">{{ content.comment }}</p>

                        <a href="{% url 'eduhub:content_detail' pk=content.id %}" class="card-link small">{% trans 'View' %}</a>

                        {% if content.label.author == request.user %}    
                            <a href="{% url 'eduhub:content_update'  pk=content.id %}" class="card-link small">{% trans 'Edit' %}</a>
                            <a href="{% url 'eduhub:content_delete'  pk=content.id %}" class="card-link small">{% trans 'Delete' %}</a>
                        {% endif %}
                        <p class="text-right border-left" style="font-size: xx-small;">{{ content.uploading_date|localtime }}</p>

                        </div>
                    </div>
                </div>

            {% endfor %}
    
    </div>
    
    
    {% if page_obj %}
        <div class="pagination justify-content-center  align-items-center mt-5" style="font-size: large;">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-primary">&laquo; {% trans 'first page' %}</a>
                    <a href="?page={{ page_obj.previous_page_number }}"  class="btn btn-primary">{% trans 'previous page' %}</a>
                {% endif %}

                <span class="current">
                    {{ page_obj.number }}/{{ page_obj.paginator.num_pages }} {% trans 'Page' %} 
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"  class="btn btn-primary">{% trans 'next page' %}</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}"  class="btn btn-primary">{% trans 'last page' %} &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}
