{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}

{% block content %} 

    <form method="post"  
        id="eduhub_create_form"
        data-filefield_name="id_media_file"
        data-media_file_help_text="{{ media_file_help_text }}"
        data-pdf_document_max_size="{{pdf_document_max_size}}"
        data-video_max_size="{{video_max_size}}"
        enctype="multipart/form-data">
        
        {% csrf_token %}
        
        {{ form|crispy }}

        <input class="btn btn-outline-info" type="submit" value="Upload" />
    </form>

{% endblock %}
