{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}

{% block content %} 

    <form method="post" 
        class="preview-file"
        data-file-field-id="#id_media_file"
        data-preview-target="#file_field_preview"
        enctype="multipart/form-data">
        
        {% csrf_token %}
        
        {{ form|crispy }}

        <input class="btn btn-outline-info float-right" type="submit" value="{% trans 'Upload' %}" />
    </form>
    <div id="file_field_preview" class="col offset-1 col-10 h-auto"></div>

{% endblock %}
