

{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}

{% block content %}      

    <table class="table table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> {% trans 'title'%}  </th>
                <td>{{ article.title }}</td>
            </tr>
            
            <tr>
                <th scope="row"> {% trans 'upload time'%}  </th>
                <td>{{ article.uploaded_time }}</td>
            </tr>
        </tbody>
    </table>
    <hr/>
    <div class="col col-12">

        {% if is_video  %}
            <video class="w-100 h-auto" src="{% url 'get_file' file_path=article.media_file.name %}"></video>
        {% else %}
            <object class="w-100" height="670px" data="{% url 'get_file' file_path=article.media_file.name %}"></object>

        {% endif %}
    </div>


{% endblock %}
