

{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}

{% block content %}       
    <div class='col col-12'>
        <h2 class="text-center">{{ article.title }}</h2>
        <h6 class="float-right">{{ article.uploaded_time }}</h6>
    </div>
    <hr/>
    <div class="col col-12">

        {% if is_video  %}
            <video class="w-100 h-auto" controls src="{% url 'funfile:get_file' file_id=article.id %}"></video>
        {% else %}
            <object class="w-100" data="{% url 'funfile:get_file' file_id=article.id %}" height="670px" ></object>
        {% endif %}
    </div>

{% endblock %}
