

{% extends '_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}

{% block content %}       
    <div class='col col-12'>
        <h2 class="text-center">{{ article.title }}</h2>
        <h6 class="float-right">{{ article.uploaded_time }}</h6>
    </div>
    <hr/>
    <div class="col col-12">

        {% if is_video  %}
            <video class="w-100 h-auto" controls src="{% url 'get_file' file_path=article.media_file.name %}"></video>
        {% else %}
            <object class="w-100" height="670px" data="{% url 'get_file' file_path=article.media_file.name %}"></object>

        {% endif %}
    </div>


{% endblock %}
