
{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% load i18n %}
{% load l10n %}
{% load tz %}


{% block title %}
    {% trans 'Update label'  %}
{% endblock title %}


{% block optionalcss %}
    <link href="{% static 'node_modules/jquery-editable-select/dist/jquery-editable-select.min.css' %}" rel="stylesheet"/>
{% endblock optionalcss %}


{% block content %} 


    <div class="row">
        <div class="col  offset-xl-2 col-auto">
            <form method="post"  enctype="multipart/form-data">
        
                {% csrf_token %}
                
                {{ form.media }}
                
                {{ form|crispy }}
        
                <div class="col col-12 text-right" >
                    <input class="btn btn-outline-info " type="submit" value="{% trans 'Update' %}" />
                </div>
        
            </form>    
        </div>
        
    </div>

    {% include 'funhome/_ckeditor.html' %}

{% endblock %}

{% block optionaljs %}
    <script src="{% static 'node_modules/jquery-editable-select/dist/jquery-editable-select.min.js' %}"></script>
    <script src="{% static 'eduhub_funcontent.js' %}"></script>
{% endblock optionaljs %}