{% extends 'funhome/_base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock title %}

{% load i18n %}

{% block content %} 
    <h2 class="text-center">{% trans 'Eduhub labels' %}</h2>
    <a href="{% url 'eduhub:label_create'  %}" class="btn btn-sm btn-outline-info float-right">{% trans 'Add' %}</a>
    <hr/>
    <div class="row">
            {% for label in labels %}
                <div class="col col-auto mt-2">

                    <div class="card label_card" style="max-width: 18rem;" data-url="{% url 'eduhub:content_list' label=label.id %}">
                        <img src="{% url 'funfile:get_file' file_id=label.cover.name %}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">{{ label.name }}</h5>
                            <p class="card-text">{{ label.comment }}</p>
                            <a href="{% url 'eduhub:content_list' label=label.id %}" class="btn  btn-sm btn-primary view_content_list">{% trans 'View' %}</a>
                            {% if request.user == label.author %}
                                <a href="{% url 'eduhub:label_update' pk=label.id %}" class="btn btn-sm btn-outline-info">{% trans 'Edit' %}</a>
                                <a href="{% url 'eduhub:label_delete' pk=label.id %}" class="btn  btn-sm btn-outline-danger">{% trans 'Delete' %}</a>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            {% endfor %}
    
    </div>

    
    {% if is_paginated %}
        <nav aria-label="Page navigation ">
            <ul class="pagination  justify-content-end">
                {% if page_obj.has_previous %}
                    {% if page_obj.number >= max_left_item_count|add:max_left_item_count %}
                        <li  class="page-item"><a class="page-link" href="?page=1">&laquo;&laquo;</a></li>
                    {% endif %}
                    <li  class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span  class="page-link" >{{ i }} <span  class="sr-only page-link">(current)</span></span>
                        </li>
                    {%  elif  page_obj.number|add:max_left_item_count >= i and  i|add:max_left_item_count  >= page_obj.number  %}
                        <li  class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li  class=" page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                    {% if  page_obj.paginator.num_pages >  page_obj.number|add:max_left_item_count  %}
                        <li  class=" page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;&raquo;</a></li>
                    {% endif %}
                {% endif %}

                <li class="page-item disabled">
                    <span class="page-link">|</span>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">
                        {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>
                </li>

            </ul>
        </nav>
    {% endif %} 


{% endblock %}
