- %YAML 1.2
---
# env
env:
  SECRET_KEY: ''
  
# database
database:
  name: ''
  user: ''
  password: ''
  host: ''
  port: ''
  engine: ''

# email
email:
  from: ''
  host: ''
  port: ''
  user: ''
  password: ''
  use_ssl: ''

# debug
debug: ''

# mix
language_cookie_secure: ''
beian_url: ''
beian_text: ''
...