#!/bin/bash

read -p "Type your commit message plase! >_ " commit_message

git add . && git commit  -m $commit_message

echo 'commit completed!'

read -p "push it now?(y/N) >_ " push_it_now

if [ "$push_it_now" = 'y' ] || [ "$push_it_now" = 'Y' ]; then

    echo "\t1. push to  your_repo"
    echo "\t2. push to  your_repo"
    echo "\t3. all of them"
    echo "\tType other key to do nothing"

    read -p " >_ " push_to
    
    if      [ "$push_to" = '1' ]; then
        git push your_repo
    elif    [ "$push_to" = '2' ]; then
        git push your_repo
    elif    [ "$push_to" = '3' ]; then
        git push your_repo  && git push your_repo
    else
        echo 'push was canceled!'
    fi

else
    echo 'without push!'
fi

git show