asgiref
astroid
backcall
bleach
certifi
chardet
decorator
defusedxml
Django
django-allauth
django-appconf
django-bfm
django-ckeditor
django-compressor
django-crispy-forms
django-extensions
django-imagekit
django-js-asset
django-progressbarupload
django-validators
django-werkzeug-debugger-runserver
hurry.filesize
idna
imageio
imagesize
ipython
ipython-genutils
isort
jedi
jieba
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
numpy
oauthlib
parso
pexpect
pickleshare
pilkit
Pillow
prompt-toolkit
psycopg2
ptyprocess
pycodestyle
pydocstyle
pyflakes
Pygments
pylama
pylint
pylint-celery
pylint-django
pylint-flask
pylint-plugin-utils
pymssql
PyMySQL
python-dotenv
python-magic
python3-openid
pytz
rcssmin
requests
requests-oauthlib
rjsmin
six
snowballstemmer
sqlparse
traitlets
typed-ast
urllib3
wcwidth
webencodings
Werkzeug
wrapt
