[uwsgi]
py-autoreload   = 1
socket          = :8000
chdir           = .
module          = fun.wsgi
master          = true
processes       = 4
vacuum          = true
stats           =%(chdir)/uwsgi/uwsgi.status
pidfile         =%(chdir)/uwsgi/uwsgi.pid
virtualenv      =%(chdir)/venv/
logto           =%(chdir)/uwsgi.log